h1 {
    text-align: center;
    color: rgb(85, 14, 100);
    font-weight: bold;
  }
  body {
  
    background-color: rgb(142, 138, 138);
    color: darkblue;
    font-family: Arial, sans-serif;
    background-image:url(Images/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;

} 


.slide-content {
    margin: 0 40px;
 

    overflow: hidden;
    border-radius: 25px;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
 
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
    background: bisque;

}
.card-image .card-img {
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
   border: 4px solid rgb(157, 4, 75);
}

.card {
    border-radius: 25px;
    background-color: bisque;
 
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: rgb(48, 48, 48);
}
.description {
    font-size: 14px;
    color: rgb(44, 44, 44);
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: blanchedalmond;
    padding: 8px 16px ;
    background-color: rgb(76, 76, 222);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background: rgb(5, 5, 111);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(249, 127, 121);
    border-radius: 25px 25px 0px 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(249, 127, 121);
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: bisque;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
  
    padding: 40px 0;
    
}

.swiper-navBtn {
    color: rgb(228, 120, 114);
    transition: color 0.3 ease;
}
.swiper-navBtn:hover {
    color: rgb(177, 61, 57);
}
.swiper-navBtn::before,
.swiper-navBtn::after {
   font-size: 40px;
}
.swiper-button-next  {
    right:0 ;

}
.swiper-button-prev {
    left:0 ;
}
.swiper-pagination-bullet {
   background-color: rgb(228, 120, 114);
   opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: rgb(177, 61, 57);
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
    .slide-content {
      margin: 0 10px;
    }

  }

  #idTP2{
  
    position: absolute;
    top: 24px; /* Adjust for desired top position */
    right: 36px; /* Adjust for desired right position */
    /* Other button styles (background-color, padding, etc.) */
    width: 5%;
  
}


